<div class="container-fluid">
    <h3 class="manager-title"><strong>Free Software Stats Manager.</strong></h3>


    <div>
        <h4>Apikey: </h3>
            <input ng-change="retrieveList()" ng-model="apikey" /></h1>
            <h4 class="text-danger">{{apikeyWarning}}</h4><br />
    </div>


    <div>
        <h4><strong>{{reqStatus}}</strong></h4>
    </div><br />


    <div>Search: </h3>
        <input placeholder="Province or Year" class="form-control" ng-model="statQuery" />
        <button type="button" class="btn btn-info" ng-click="searchStat()">Search</button>
        <button type="button" class="btn btn-default" ng-click="resetSearch()">Clear</button>
    </div><br />


    <div>
        <button type="button" class="btn btn-primary" ng-click="loadInitialData()">loadInitialData</button>
        <button type="button" class="btn btn-danger" ng-click="deleteAllStats()">Delete All Stats</button>
    </div>

    <div>


        <table class="table">
            <thead>
                <tr>
                    <th>University</th>
                    <th>Year</th>
                    <th>Province</th>
                    <th>Diffusion</th>
                    <th>Ranking</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model="newStat.university" /></td>
                    <td><input class="form-control" ng-model="newStat.year" /></td>
                    <td><input class="form-control" ng-model="newStat.province" /></td>
                    <td><input class="form-control" ng-model="newStat.diffusion" /></td>
                    <td><input class="form-control" ng-model="newStat.ranking" /></td>
                    <td><button type="button" class="btn btn-primary" ng-click="addStat()">Add</button></td>
                </tr>
                <tr ng-repeat="stat in stats">
                    <td>{{stat.university}}</td>
                    <td>{{stat.year}}</td>
                    <td>{{stat.province}}</td>
                    <td>{{stat.diffusion}}</td>
                    <td>{{stat.ranking}}</td>
                    <td><a href="#!/edit_fss/{{stat.university}}/{{stat.year}}" <button class="button btn-secondary" ng-click="updateStat(stat.university,stat.year)">Edit</button></td>
                <td><button type="button" class="btn btn-danger" ng-click="deleteStat(stat.university,stat.year)">Delete</button></td>
            </tr>
        </tbody>
       
    </table>
    </div>

    <div>
    <!--Pagination-->
    <table class="table">
        <tr>
            <td>                        
                <ul class="pagination">
                        <button ng-disabled="currentPage == 1" ng-click="previousPage()">Previous</button>
                        <button ng-click="goToPage($index)" ng-repeat="page in totalPages track by $index">{{$index+1}}</button>
                        <button ng-disabled="currentPage >= numPages" ng-click="nextPage()">Next</button>
                          -  Page {{currentPage}}/{{numPages}}
                </ul>
            </td>
            <td>
	<select id="size-select" ng-model="size"
	    class="form-control" ng-change="changeSizeList();">
		    <option>5</option>
		    <option value="10" selected>10</option>
		    <option>15</option>
    </select> results per page.
         </tr>
    </table>
    </div>
</div>
