<center><div id="myChart" style="width: 800px"></div></center>
<table class="table table-hover">
      <thead>
            <tr>
                  <td>Token: <input class="form-control" ng-model="token"/></td>
            </tr>
            <tr>
                  <td>Groups id's: <input class="form-control" ng-model="groups"/></td>
            </tr>
            <tr>
                  <td><button id="addButton" ng-click="refresh()" class="btn btn-primary">Send</button></td>

            </tr>
      <thead>
<table>